:root{
  --background-color: black;
  --background-grad: linear-gradient(to right, #02020c 27%,#02020c 27%,#000000 100%);
  --deftext-color: white;
  --zetro-color: #1e90ff;
  --div-bgcolor: #000000;
  --div-bgcolor-hover: #1d203d;
  --backend-lable: #00ff1d;
  --normal-padding: 15px;
  --inside-div-padding: 20px;
  font-family: Arial;
  line-height: 25px;
}

.for-weird-people {
  --background-color: rgb(255, 255, 255);
  --background-grad:  rgb(255, 255, 255);
  --deftext-color: rgb(0, 0, 0);
  --zetro-color: #1e90ff;
  --div-bgcolor: #1e8fff46;
  --backend-lable: #000000;
}

body{
  background-color: var(--background-color);
  background: var(--background-grad);
  color: var(--deftext-color);
  padding: var(--normal-padding);
}

.menubutton {
  background-color: transparent;
  font-family: Arial;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  width: 70px;
  height: 15;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.space {
  background-color: transparent;
  font-family: Arial;
  font-size: 15px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  width: 0px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: default;
}

.title {
	color: var(--zetro-color);
	font-family: Arial;
	font-weight: 1000;
}

.medium-div {
  background-color: var(--div-bgcolor);
  width: 45%;
  border-width: 0px;
  border-color: var(--zetro-color);
  border-radius: 20px;
  padding: 8px;
  padding-top: var(--inside-div-padding);
  padding-bottom: var(--inside-div-padding);
  transition: 0.5s;
  cursor: default;
}

.invisible-div {
  background-color: transparent;
  width:45%;
  border-radius: 20px;
  padding: 8px;
}

.change-div {
  background-color: black;
  width: 45%;
  border-width: 5;
  border-color: var(--zetro-color);
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: var(--inside-div-padding);
}



.divider {
  background-color: transparent;
  width: 45%;
  height: 35px;
}

.backend-viewbox {
  background-color: black;
  color: green;
  font-size: 10px;
  padding-top: 3px;
}

#theme-switch {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#theme-switch svg {
  fill: var(--zetro-color)
}

#theme-switch svg:last-child {
  display: none;
}

.for-weird-people #theme-switch svg:first-child {
  display: none;
}

.for-weird-people #theme-switch svg:last-child {
  display: block;
}

#settings-icon {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#settings-icon svg {
  fill: var(--zetro-color)
}
